// LE BODY PERMET D'INITIALISER LES PROPRIÉTÉS GÉNÉRALES DE LA PAGE. LES ÉLÉMENTS DE LA PAGE VONT HÉRITÉS DES PROPRIÉTÉS INSCRITE DANS BODY

body{
  font-family: $ff-normal;
  font-size: $fz-normal;
  color: $color-text-normal;
  line-height: $lh-normal;


  background: $color-bg-page;
}

button{
  width: 95px;
  height: 37px;
  background: $color-bouton-up;
  border-radius: 5px;

  display: flex;
  justify-content: center ;
  align-items: center;
}

button:hover{
  background: $color-bouton-pressed;
}

button h3{
  max-width: 75px;
  font-family: $ff-normal;
  font-weight: normal;
}

button:hover h3{
  color: $color-bouton-pressed-text;
}


main{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 584px;
}

article{
  width: 360px;
  height: 524px;
  background: $color-article;

  display: flex;
  flex-direction: column;

}

article p{
  margin-top: 0px;
  padding: 20px 20px;

}



article h2{
  width: 360px;
  height:200px;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-title-light;
}

.html h2{
  background: $color-html;
}

.css h2{
  background: $color-css;
}

.javascript h2{
  background: $color-java;
  height:200px;
  flex-shrink: 0;
  }

.javascript p{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.piedArticle{
  max-width: 320px;
  padding-left: 20px;
  margin: auto 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vue{
  font-weight: normal;
  color: $color-bouton-pressed;
}

footer{
  background: $color-footer;
  padding-left: 20px;
  height: 60px;

}

footer div{
  display: flex;
  height: 60px;
  align-items: center;
}