header{
  height: 61px;
  padding-top: 0;

  background: $color-header;
}


nav ul{
  display: flex;
  justify-content: flex-end;

  padding-top: 20px;
  padding-right: 169px;
  margin-top: 0;

  list-style: none;
}

nav li{
  padding-left: 20px;
}