//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3{
  font-family: $ff-h1h2;
  line-height: $lh-thin;
  font-weight: $fw-bold;
}

h1{
  font-size: $fz-h1;
}

h2{
  font-size: $fz-h2;
}

h3{
  font-size: $fz-h3;
}


